html, body {
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.vip__teams {
    width: 100%;
    height: 190px;
    background: url(assets/bg-forecast.png) 50% no-repeat;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.vip__about {
    height: 35px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    letter-spacing: .03em;
    line-height: 35px;
    color: hsla(0,0%,100%,.5);
}
.vip__vs, .vip__vs-logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.vip__vs-logo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: linear-gradient(180deg,#fff,hsla(0,0%,100%,.93) 11.6%,hsla(0,0%,100%,.8) 46.41%,hsla(0,0%,100%,.6) 80.66%,hsla(0,0%,100%,.3));
}

.vip__vs, .vip__vs-logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.vip__vs-logo img {
    max-width: 50px;
    max-height: 50px;
}
img {
    border-style: none;
}
.vip__vs-count {
    width: 125px;
    margin: 0 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 42px;
    text-align: center;
    letter-spacing: .05em;
    white-space: nowrap;
    color: #f1f1f2;
}
.vip__vs-count img {
    max-width: 85px;
    max-height: 85px;
}

img {
    border-style: none;
}
.vip__vs-logo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: linear-gradient(180deg,#fff,hsla(0,0%,100%,.93) 11.6%,hsla(0,0%,100%,.8) 46.41%,hsla(0,0%,100%,.6) 80.66%,hsla(0,0%,100%,.3));
}
.vip__vs, .vip__vs-logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.vip__vs-logo img {
    max-width: 50px;
    max-height: 50px;
}

img {
    border-style: none;
}
.vip__info {
    height: 110px;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 0 15px;
}
.vip__title {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.vip__title_teams {
    margin: 5px 0;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.vip__time {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: .03em;
}
.vip__time b {
    font-weight: 700;
}
.vip__event_forecast {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.vip__event {
    position: relative;
    padding: 36px 15px 24px;
}
.vip__event:before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    height: 1px;
    background-color: #caccdd;
}
.vip__event .icon {
    min-width: 45px;
    width: 45px;
    height: 45px;
    margin-left: 6px;
    margin-right: 20px;
}

.icon_target {
    width: 45px;
    height: 45px;
    background-image: url(assets/icon-target.svg);
}
.icon {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-font-smoothing: antialiased;
}
.vip__event_forecast p {
    margin: 0;
}

.vip__event p {
    width: calc(100% - 45px - 26px);
    margin: 0;
    font-weight: 300;
    line-height: 27px;
    font-size: 18px;
}
p {
    font-weight: 700;
    letter-spacing:1px;    
}
.vip__event_forecast p span {
    font-weight: 700;
    margin-left: 5px;
    color: #000;
    letter-spacing: 3px;
}