{% extends 'mysite/base_html.html' %}

{% block content %}
{% for game in games %}
<tr class="forecasts-free__table-row forecasts-free__table-row_free forecasts-free__table-row_loss">
    <td class="forecasts-free__table-cell">
        <i class="forecasts-free__flag-icon" style="background-image: url('/i/seria/9.middle.jpg')"></i>
    </td>
    <td class="forecasts-free__table-cell forecasts-free__table-cell_description">
        <span class="forecasts-free__table-cell-links">
            Australia - NPL, Victoria
        </span>
        <a href="/football/australia/npl-victoria/avondale-p-melbourne-23-06-2018/"
           class="forecasts-free__table-cell-match">
            <span class="time">{{ game.time}}</span>
            Match prediction
            <span class="teams">{{ game.teams}} </span>
        </a>
    </td>
    <td class="forecasts-free__table-cell forecasts-free__table-cell_coefficient">
        <a href="/football/australia/npl-victoria/avondale-p-melbourne-23-06-2018/">
            {{ game.win_odd }}
        </a>
    </td>
    <td class="forecasts-free__table-cell forecasts-free__table-cell_tips">
        <a href="/football/australia/npl-victoria/avondale-p-melbourne-23-06-2018/">
            {{ game.chance }}
        </a>
    </td>
    <td class="forecasts-free__table-cell forecasts-free__table-cell_tips">
        <a href="/football/australia/npl-victoria/avondale-p-melbourne-23-06-2018/">
            {{ game.match_result }}
        </a>
    </td>

    <td class="forecasts-free__table-cell forecasts-free__table-cell_result">
        {% if game.result_overall == 'homewin' or game.result_overall == 'awaywin' or game.result_overall == '12win' %}
        <a href="/football/australia/npl-victoria/avondale-p-melbourne-23-06-2018/" style="color: #08b204;">Win</a>
        {% endif %}
        {% if game.result_overall == 'drawwin' %}
        <a href="/football/australia/npl-victoria/avondale-p-melbourne-23-06-2018/" style="color: #08b204;">Draw</a>
        {% endif %}
        {% if game.result_overall == 'drawlose' or game.result_overall == 'homelose' or game.result_overall == 'awaylose' or game.result_overall == '12lose' %}
        <a href="/football/australia/npl-victoria/avondale-p-melbourne-23-06-2018/"
           style="font-size: 13px;color: #c9c9c9;">Lose</a>
        {% endif %}
        {% if game.result_overall == 'no_results_yet' %}
        <a href="/football/australia/npl-victoria/avondale-p-melbourne-23-06-2018/">Pending</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
{% endblock %}



