@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
body{
	font-family:Roboto,Arial,sans-serif
}
a{color:inherit
}
.uppercase{text-transform:uppercase
}
.top-offset_10{margin-top:10px!important}
.top-offset_15{margin-top:15px!important}
.top-offset_20{margin-top:20px!important}
.top-offset_30{margin-top:30px!important}
.top-offset_120{margin-top:120px}
.margins{margin-left:15px;margin-right:15px}
.label{display:block;margin-bottom:6px;font-size:14px;color:#353535}
.field{
	width:100%;
	height:30px;
	background-color:rgba(201,208,220,.35);
	border:none;border-radius:5px;
	padding:0 5px;
	box-sizing:border-box;
	font-family:Roboto,Arial,sans-serif;
	font-size:12px
}
.field_textarea{
	resize:none;
	height:140px;
	padding:5px
}
.field_large{
	height:40px;
	padding:0 10px;
	font-size:14px
}
.field:focus{
	outline:none
}
.checkbox input{
	display:none
}
.checkbox input+label{
	position:relative;
	padding-left:40px;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.checkbox input+label:before{
	content:"";width:25px;height:25px;
	background:rgba(201,208,220,.35);
	box-shadow:inset 0 -5px 4px hsla(0,0%,100%,.05),inset 0 3px 3px rgba(0,0,0,.05);
	position:absolute;
	left:0;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%)
}
.checkbox input+label{
	display:block;
	font-weight:700;
	line-height:15px;
	font-size:10px;
	letter-spacing:.02em;text-transform:uppercase;color:#32343b
}
.checkbox input+label:before{border-radius:5px
}
.checkbox input:checked+label:before{
	background:url(/assets/img/mobile/check.svg) 50% no-repeat #ffc631
}
.radio input{display:none}.radio input+label{
	position:relative;padding-left:40px;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;user-select:none
}
.radio input+label:before{
	content:"";
	width:25px;height:25px;
	background:rgba(201,208,220,.35);
	box-shadow:inset 0 -5px 4px hsla(0,0%,100%,.05),inset 0 3px 3px rgba(0,0,0,.05);
	position:absolute;
	left:0;
	top:50%;-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	border-radius:20px
}
.radio input:checked+label:before{
	background-color:#ffc631
}
.radio input:checked+label:after{
	content:"";
	position:absolute;
	width:13px;
	height:13px;
	left:6px;top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	background-color:hsla(0,0%,100%,.7);
	border-radius:5px
}
.button{
	display:inline-block;
	height:40px;
	box-sizing:border-box;
	border-radius:5px;
	font-size:14px;
	cursor:pointer;
	border:none;
	font-family:Roboto,Arial,sans-serif;
	box-shadow:0 1px 5px rgba(0,0,0,.15);
	font-weight:500;color:#fff;
	text-align:center;line-height:40px;
	text-decoration:none
}

.button_primary{
	background:linear-gradient(136.67deg,#ffc631 21.58%,#ff7c00 116.36%);
	color:hsla(0,0%,100%,.9)
}
.button_secondary{
	background:linear-gradient(113.1deg,#96d45d -36.07%,#2dae8b 48.5%);
	color:hsla(0,0%,100%,.9)
}
.button_white{
	background:linear-gradient(108.29deg,#fff -44.37%,#efefef 61.97%);
	color:rgba(0,0,0,.9);font-size:16px
}
.button_red{
	background:linear-gradient(94.93deg,#ff450e -50.08%,#ff0c42 50.49%);
	box-shadow:0 1px 5px rgba(0,0,0,.15)
}
.button_shadow{
	width:160px;
	height:30px;
	background-color:transparent;
	border:2px solid rgba(201,208,220,.45);box-shadow:none;font-weight:400;font-size:12px;line-height:26px;color:rgba(0,0,0,.8)}.button_small{height:30px;font-size:14px;line-height:30px}.button_large{width:100%;height:40px;font-size:17px}.button:disabled{opacity:.5}button:active,button:focus{outline:none}.header{width:100%;height:55px;padding-left:15px;padding-right:15px;box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;background:linear-gradient(180deg,#262d37 -9.09%,#1c1f24)}.header__text{font-size:10px;font-weight:700;text-transform:uppercase;color:#ffd739}.header__logo{margin:0 10px;width:98px;height:42px;background:url(/assets/img/mobile/logo.svg) 50% no-repeat}.header__link{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;text-decoration:none}.home{background-color:#e5e5e5}.content{background-color:#17181c;padding:15px;border-bottom-left-radius:5px;border-bottom-right-radius:5px}.content,.tabs{width:100%;box-sizing:border-box}.tabs{height:35px;border-top-left-radius:5px;border-top-right-radius:5px;border:1px solid #8c8c8c;border-bottom:none;display:-webkit-box;display:-ms-flexbox;display:flex;overflow:hidden}.tabs__tab{-ms-flex-preferred-size:100%;flex-basis:100%;font-size:13px;line-height:33px;text-align:center;text-decoration:none;color:#8c8c8c}.tabs__tab_active{border-top-left-radius:5px;border-top-right-radius:5px;background-color:#fff;color:#17181c}.wrap_mW{bottom:50px!important}.offer{display:block;text-decoration:none}.offer_premium{position:relative;max-width:100%;height:135px;background-image:linear-gradient(113.5deg,#9ed75a -1.08%,#27ab8e 100.54%);border-radius:5px;padding-left:15px;box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.offer_premium .offer__title{margin:0;text-transform:uppercase;font-size:20px;font-weight:500;color:#fff}.offer_premium .offer__text{margin:0 0 15px;font-size:14px;font-weight:700;color:#000}.offer_premium .offer__icon{width:94px;height:105px;position:absolute;top:50%;right:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);border-left:1px solid hsla(0,0%,100%,.5);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.offer_premium .button{width:113px}.offer_telegram{width:100%;height:105px;position:relative;background:linear-gradient(107.99deg,#2e7f9d -.64%,#1a6d97 99.96%);border-radius:5px;padding-left:15px;box-sizing:border-box;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.offer_telegram .offer__title{margin:0 0 15px;font-weight:700;line-height:21px;font-size:14px;color:#fff}.offer_telegram .offer__icon{position:absolute;right:20px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.offer_telegram .button{color:#fff}.offer_sms{background:url(/assets/img/mobile/icon-sms.svg) top 20px right 20px no-repeat #f1f4f9;padding:15px;border-radius:5px}.offer_sms .offer__title{margin:0;font-weight:700;line-height:21px;font-size:14px;color:#000}.offer_sms .offer__form{margin-top:25px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.offer_sms .offer__form .field{width:65.07936507936508%}.offer_sms .offer__form .button{width:31.746031746031747%}.offer_prem{display:block;width:100%;border-bottom-left-radius:5px;border-bottom-right-radius:5px;overflow:hidden;font-size:0}.offer_prem img{max-width:100%}.guarantees{width:100%;box-sizing:border-box;padding:20px 15px 30px;background-color:#e5e5e5}.guarantees__title{margin:0 0 20px;font-size:20px;font-weight:700;text-align:center}.guarantees__list{list-style:none;padding:0;margin:0}.guarantees__li{position:relative;font-size:12px;line-height:18px;font-weight:400;padding-left:15px}.guarantees__li:before{content:"";position:absolute;left:0;top:9px;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:6px;height:6px;border-radius:50%;background-color:#ffb825}.guarantees__item{background:linear-gradient(182.94deg,#fff -70.04%,#efefef 85.89%);box-shadow:0 2px 5px rgba(175,183,215,.5);border-radius:5px;margin-bottom:10px;overflow:hidden}.guarantees__item:last-of-type{margin-bottom:0}.guarantees__toggle{position:relative;width:45px;height:45px;background:linear-gradient(153.43deg,#ffc631,#fe8b00 83.33%);margin-right:15px;border:none;transition:background-color .4s}.guarantees__toggle:after,.guarantees__toggle:before{content:"";width:18px;height:2px;background-color:#fff;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);z-index:2;transition:background-color .4s}.guarantees__toggle:after{-webkit-transform:translate(-50%,-50%) rotate(90deg);transform:translate(-50%,-50%) rotate(90deg);z-index:1}.guarantees__toggle_active{background:transparent}.guarantees__toggle_active:before{background-color:#fe8b00}.guarantees__toggle_active:after{background:linear-gradient(182.94deg,#fff -70.04%,#efefef 85.89%)}.guarantees__question{width:100%;height:45px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.guarantees__label{font-weight:500;font-size:14px;color:#000}.guarantees__info{padding:15px;display:none}.guarantees__ttl{margin:0;font-size:13px;font-weight:500;line-height:18px;color:#000;text-transform:uppercase}.guarantees__ttl:first-of-type{margin-top:0}.guarantees__text{margin:0;font-size:12px;font-weight:400;line-height:18px}.footer{background-color:#17181c;padding:15px 0 30px;margin-bottom:50px;text-align:center}.footer .icon{margin:0 3px}.footer__logos{height:50px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.footer__navigation{margin:15px 0 10px}.footer__link{font-weight:400;line-height:21px;font-size:12px;-webkit-text-decoration-line:underline;text-decoration-line:underline;color:hsla(0,0%,100%,.8)}.footer__full-version{height:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:10px;font-size:12px;line-height:1;color:#ffc631;text-decoration:none}.footer__full-version img{margin-top:-2px;margin-right:10px}.footer__apps{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.footer__app{margin:0 5px}.navigation{width:100%;height:50px;position:fixed;left:0;right:0;bottom:0;z-index:3;background-color:#fff;border-top:1px solid rgba(19,21,58,.15)}.navigation,.navigation__link{display:-webkit-box;display:-ms-flexbox;display:flex}.navigation__link{-ms-flex-preferred-size:100%;flex-basis:100%;padding-bottom:4px;text-align:center;text-decoration:none;position:relative;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.navigation__text{margin-top:5px;font-size:9px;letter-spacing:.012em;color:rgba(0,0,0,.45)}.navigation__notify{position:absolute;top:3px;left:calc(50% + 10px);min-width:14px;box-sizing:border-box;padding:0 5.5px;height:14px;background:linear-gradient(157.75deg,#ff6f31 9.54%,#ff3d31 85.48%);border-radius:7px;font-size:9px;font-weight:400;text-align:center;line-height:14px;color:#fff}.vip__base-content{padding:0 15px}.vip__base-content img{max-width:100%}.vip__base-content p{margin:15px 0;line-height:18px;font-size:12px;color:#000}.vip__teams{width:100%;height:190px;background:url(/assets/img/mobile/bg-forecast.png) 50% no-repeat;background-size:cover;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-bottom-left-radius:5px;border-bottom-right-radius:5px}.vip__teams_free,.vip__teams_premium,.vip__teams_vip{position:relative}.vip__teams_free:after,.vip__teams_premium:after,.vip__teams_vip:after{position:absolute;top:0;right:0}.vip__teams_vip:after{content:url(/assets/img/mobile/icon-vip.svg)}.vip__teams_premium:after{content:url(/assets/img/mobile/icon-premium.svg)}.vip__teams_free:after{content:url(/assets/img/mobile/icon-free.svg)}.vip__about{height:35px;margin-top:15px;margin-bottom:20px;font-weight:500;font-size:10px;text-align:center;letter-spacing:.03em;line-height:35px;color:hsla(0,0%,100%,.5)}.vip__vs,.vip__vs-logo{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.vip__vs-logo{width:85px;height:85px;border-radius:50%;background:linear-gradient(180deg,#fff,hsla(0,0%,100%,.93) 11.6%,hsla(0,0%,100%,.8) 46.41%,hsla(0,0%,100%,.6) 80.66%,hsla(0,0%,100%,.3))}.vip__vs-logo img{max-width:50px;max-height:50px}.vip__vs-count{width:125px;margin:0 10px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;font-style:normal;font-weight:900;line-height:normal;font-size:42px;text-align:center;letter-spacing:.05em;white-space:nowrap;color:#f1f1f2}.vip__vs-count img{max-width:85px;max-height:85px}.vip__info{height:110px;display:-webkit-box;display:-ms-flexbox;display:flex;background-color:#fff;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center;padding:0 15px}.vip__title{margin:0;font-weight:300;font-size:18px}.vip__title_teams{margin:5px 0;font-weight:700;font-size:20px;text-transform:uppercase}.vip__title_registration{text-align:center;font-size:20px;line-height:35px;letter-spacing:.05em;color:#000}.vip__title_chart,.vip__title_history{padding:15px;font-weight:500;line-height:21px;font-size:14px;color:#000}.vip__title_chart{padding:0}.vip__time{font-weight:300;font-size:12px;letter-spacing:.03em}.vip__time b{font-weight:700}.vip__registration{padding:0 30px 30px}.vip__warning{padding-top:27px;padding-bottom:32px;border-top:1px solid #caccdd;line-height:27px;font-size:20px}.vip__step,.vip__warning{text-align:center;color:#000}.vip__step{margin:0;line-height:30px;font-size:14px}.vip__form{margin:15px 0}.vip__form .checkbox{margin:25px 0}.vip__submitted{padding:35px 0 70px;font-weight:300;line-height:27px;font-size:18px;letter-spacing:.05em;text-align:center;color:#000}.vip__submitted p{margin:35px 0 0}.vip__success{height:105px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;margin-left:15px;margin-right:15px;padding-left:5px;border-top:1px solid #caccdd;line-height:30px;font-size:20px;color:#a3a8b9}.vip__success .icon{min-width:45px;margin-right:20px}.vip__get-vip{margin:0 15px;font-weight:500;line-height:24px;font-size:16px;color:#000}.submit__wrapper{position:relative;margin:15px 0 30px}.submit__overlay{position:absolute;left:0;right:0;top:0;bottom:0}.vip__discount{position:relative;margin:15px;padding:45px 15px 30px;background:#f1f4f9;box-sizing:border-box;border-radius:5px}.vip__discount p{margin:0;line-height:21px;font-size:14px;color:#000}.vip__discount:before{content:"Только сейчас";width:100px;height:15px;background-color:#fff;border-bottom-left-radius:5px;font-weight:700;line-height:15px;font-size:10px;text-align:center;letter-spacing:.1em;
	color:#fe8b00;
	position:absolute;right:0;top:0
}
.vip__prices{margin-top:30px;display:-webkit-box;
	display:-ms-flexbox;display:flex;-webkit-box-pack:center;
	-ms-flex-pack:center;justify-content:center;
}
.vip__price_old{font-weight:300;font-size:24px;
	text-decoration:line-through;color:#000
}
.vip__price_new,.vip__price_old{
	line-height:30px;
	text-align:center
}
.vip__price_new{
	margin-left:8px;
	font-weight:700;
	font-size:36px;
	color:#ffc631;
}
.vip__advantages{
	width:calc(100% - 30px);
	margin:15px 15px 20px;background:#f1f4f9;
	border-radius:5px;overflow:hidden;
	border-collapse:collapse
}
.vip__advantages tr{
	height:45px
}
.vip__advantages td,.vip__advantages th{
	text-align:center;color:#000;
	border-left:1px solid #caccdd
}
.vip__advantages td:first-of-type,.vip__advantages th:first-of-type{
	text-align:left;padding-left:15px;border-left:none
}
.vip__advantages th{
	text-transform:uppercase;
	font-size:11px;font-weight:400
}
.vip__advantages th:first-of-type{
	font-weight:700
}
.vip__advantages th:last-of-type{
	font-weight:700;color:#fff;
	background:linear-gradient(146.42deg,#ff7c00 -1.4%,#ffc631 106.93%);
	border-left:none;
}
.vip__advantages td{
	font-size:9px
}
.vip__advantages thead tr{
	border-bottom:2px solid #fca527
}
.vip__wrapper{
	background:linear-gradient(132.74deg,#e6e8eb,#ecedef 41.78%,#f5f5f5 55.93%,#e6e8eb 74.37%,#f5f5f5 92.21%);
	padding:15px 15px 30px
}
.vip__wrapper_black{background:#17181c;padding-bottom:15px;position:relative}.vip__wrapper_black:after,.vip__wrapper_black:before{position:absolute;bottom:100%;font-size:0;content:url(/assets/img/mobile/icon-left-bottom.svg);left:0}.vip__wrapper_black:after{-webkit-transform:scaleX(-1);transform:scaleX(-1);left:auto;right:0}.vip__event{position:relative;padding:36px 15px 24px}.vip__event:before{content:"";position:absolute;top:0;left:15px;right:15px;height:1px;background-color:#caccdd}.vip__event p{width:calc(100% - 45px - 26px);margin:0;font-weight:300;line-height:27px;font-size:18px}.vip__event_failure,.vip__event_return,.vip__event_success{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.vip__event_failure p span,.vip__event_return p span,.vip__event_success p span{font-weight:700;line-height:27px;font-size:14px}.vip__event .icon{min-width:45px;width:45px;height:45px;margin-left:6px;margin-right:20px}.vip__event_success span{color:#40b583}.vip__event_failure span{color:#ed5a5a}.vip__event_forecast{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-ms-flex-line-pack:end;align-content:flex-end;-ms-flex-wrap:wrap;flex-wrap:wrap
}
.vip__event_forecast p{
	margin:0
}
.vip__event_forecast p span{
	font-weight:700;color:#40b583
}
.vip__event_forecast .button{
	-ms-flex-preferred-size:100%;
	flex-basis:100%;margin-top:20px;
	height:30px;line-height:30px;font-size:14px
}
.vip__text{
	margin:18px 15px 0;
	line-height:18px;font-size:12px;color:#000
}
.vip__text:first-of-type{margin-top:30px
}
.vip__history{
	margin-right:15px;
	margin-left:15px;
	border-radius:5px;
	background-color:#f5f6fc
}
.vip__game{
	height:60px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-ms-flex-pack:distribute;
	justify-content:space-around;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-ms-flex-line-pack:start;
	align-content:flex-start
}
.vip__game-date{
	-ms-flex-preferred-size:100%;
	flex-basis:100%;
	position:relative;
	margin:0 0 10px;
	text-align:center
}
.vip__game-date span{
	position:relative;
	display:inline-block;
	background-color:#f5f6fc;padding:0 5px;
	font-size:9px;color:#aaacbc
}
.vip__game-date:before{
	content:"";height:1px;background-color:#aaacbc;
	position:absolute;top:10px;left:0;right:0
}
.vip__game-name{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-weight:500;font-size:11px;
	text-transform:uppercase;text-align:center
}
.vip__game-logo,.vip__game-name{
	-ms-flex-preferred-size:20%;flex-basis:20%
}
.vip__game-logo{
	display:-webkit-box;display:-ms-flexbox;display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;justify-content:center
}
.vip__game-logo img{
	max-width:20px;
	max-height:20px
}
.vip__game-result{
	-ms-flex-preferred-size:20%;flex-basis:20%;text-align:center;
	font-size:16px;font-weight:900
}
.vip__subscription{
	position:relative;
	background:#fff;
	border-radius:5px;
	padding:15px;
	height:120px;
	box-sizing:border-box;
	display:-webkit-box;
	display:-ms-flexbox;display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;
	justify-content:space-between
}
.vip__subscription:before{
	content:"Бесплатно";
	position:absolute;
	top:0;right:0;font-weight:700;line-height:15px;
	font-size:10px;text-align:center;letter-spacing:.1em;color:#fe8b00;
	border-bottom:1px solid #fe8b00;
	border-left:1px solid #fe8b00;
	border-bottom-left-radius:5px;width:80px;height:15px
}
.vip__subscription p{
	margin:10px 0 0;
	font-weight:500;
	line-height:21px;font-size:14px;color:#000
}
.vip__subscription form{
	display:-webkit-box;
	display:-ms-flexbox;display:flex;
	-webkit-box-pack:justify;-ms-flex-pack:justify;
	justify-content:space-between
}
.vip__subscription .button{
	width:38.095238095238095%
}
.vip__subscription .field{
	width:58.73015873015873%
}
.vip__chart{
	padding:15px;
	background-color:#f5f6fc;margin-left:15px;
	margin-right:15px;border-radius:5px;color:#000
}
.vip__chart .default{color:#816f86
}
.vip__chart .success{color:#83ca09}
.vip__chart .failure{color:#f44132
}
.vip__chart .dot{position:relative;z-index:2;display:inline-block;width:10px;height:10px;border-radius:50%}
.vip__chart .dot_default{
	background:linear-gradient(151.39deg,#e1dbd6,#7b7085 83.96%)
}
.vip__chart .dot_success{background:linear-gradient(151.39deg,#e2f55a,#83d403 83.96%)}.vip__chart .dot_failure{background:linear-gradient(151.39deg,#f5a35a,#f32929 83.96%)}.vip__chart table{width:100%;border-collapse:collapse;text-align:center}.chart__container{position:relative;width:100%}.chart__container td{white-space:nowrap}.vip__match-history{margin:0;font-size:10px;line-height:30px;text-transform:uppercase}.vip-page__home{border-bottom-left-radius:5px;border-bottom-right-radius:5px;overflow:hidden;font-size:0}.vip-page__home img{width:100%}.vip-page__price{padding:30px 15px 15px}.get-vip{display:block;width:auto;height:70px;line-height:70px;margin:0 15px 30px;font-weight:500;font-size:17px}.vip-page__sum{font-weight:700;line-height:normal;font-size:24px;color:#fca527;text-transform:uppercase}
.vip-page__sum,.vip-page__text{
	margin:0;
	letter-spacing:.03em;
	text-align:center
}
.vip-page__text{color:#000
}
.vip-page__text_bold{
	font-weight:700;font-size:17px
}
.vip-page__text_small{
	font-weight:500;font-size:12px
}
.vip-page__text_gray{color:#a3a8b9
}
.forecasts{
	width:100%;background-color:#fff;border-radius:5px;overflow:hidden
}
.forecasts_top{
	border-top-left-radius:0;border-top-right-radius:0
}
.forecasts__title{
	height:55px;margin:0;display:-webkit-box;
	display:-ms-flexbox;
	display:flex;padding-left:15px;
	-webkit-box-pack:start;-ms-flex-pack:start;
	justify-content:flex-start;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center
}
.forecasts__title .icon{
	display:inline-block;
	vertical-align:middle;
	margin-right:15px
}
.forecasts__sport{
	font-size:20px;
	font-weight:700
}
.forecasts__day{
	margin-left:4px;
	font-size:20px;
	font-weight:300
}
.forecasts__coefficient{
	width:70px;
	margin-left:auto;font-size:12px;
	text-align:center;color:rgba(0,0,0,.7)
}
.forecasts__item{
	position:relative;
	height:60px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;-webkit-box-orient:vertical;
	-webkit-box-direction:normal;-ms-flex-direction:column;
	flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;
	justify-content:center;border-top:1px solid rgba(32,35,95,.2);
	padding-left:15px;text-decoration:none
}
.forecasts__teams{
	margin:0 0 10px;font-size:14px;font-weight:400
}
.forecasts__league,.forecasts__teams{
	width:calc(100% - 70px - 45px);
	white-space:nowrap;text-overflow:ellipsis;overflow:hidden
}
.forecasts__league{
	font-size:9px;color:#1b3c5e;text-transform:uppercase
}
.forecasts__date{
	font-weight:700;line-height:normal;font-size:9px;color:#1b3c5e
}
.forecasts__coeff{
	width:70px;background-color:#e5e5e5;
	position:absolute;top:0;right:0;text-align:center;
	line-height:60px;font-size:14px;font-weight:500;color:#4b4b4b
}
.forecasts__coeff_vip{
	background-color:#ffc631
}
.forecasts__coeff_vip:after{
	content:"VIP";
	position:absolute;
	top:5px;right:5px;
	font-size:10px;
	letter-spacing:.1em;color:rgba(0,0,0,.6);line-height:1
}
.forecasts__coeff_premium{
	background:linear-gradient(149.74deg,#aade73,#52bb7b 79.75%)
}
.forecasts__coeff_premium:after{
	content:"Premium";position:absolute;
	top:5px;left:0;right:0;font-size:10px;
	letter-spacing:.18em;text-transform:uppercase;
	color:#fff;line-height:1
}
.forecasts__result{
	position:absolute;
	right:85px;top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%)
}
.social-auth{
	display:-webkit-box;
	display:-ms-flexbox;display:flex;
	-webkit-box-pack:justify;-ms-flex-pack:justify;
	justify-content:space-between;
	-ms-flex-wrap:wrap;flex-wrap:wrap
}
.social-auth__title{
	position:relative;
	margin:0 0 10px;-ms-flex-preferred-size:100%;
	flex-basis:100%;
	font-weight:300;
	line-height:18px;
	font-size:12px;
	text-align:center;
	letter-spacing:.02em;
	color:#979caf
}
.social-auth__title span{
	position:relative;
	display:inline-block;
	background-color:#fff;
	padding:0 10px
}
.social-auth__title:before{
	content:"";
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	left:0;right:0;
	border:1px dotted #a3a8b9
}
.social-auth__button{
	width:calc(50% - 7.5px);
	min-width:150px;
	height:30px;
	box-sizing:border-box;
	border-radius:5px;
	font-weight:500;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	line-height:30px;
	color:hsla(0,0%,100%,.9);
	position:relative
}
.social-auth__button:before{
	content:"";
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);transform:translateY(-50%)
}
.social-auth__button_vk{
	background-color:#527498
}
.social-auth__button_vk:before{
	width:21px;
	height:12px;
	background-image:url(/assets/img/mobile/icon-vk.svg);left:calc(50% - 60px)
}
.social-auth__button_ok{
	background-color:#ed802b
}
.social-auth__button_ok:before{
	width:12px;
	height:18px;
	background-image:url(/assets/img/mobile/icon-ok.svg);
	left:calc(50% - 65px)
}
.social-auth__button:last-of-type{
	margin-left:15px
}
.login,.registration{
	min-height:calc(100vh - 105px);
	box-sizing:border-box;
	padding:15px 30px;
	margin-bottom:50px
}
.login__title,.registration__title{
	margin:0 0 15px;font-weight:400;
	line-height:35px;
	font-size:20px;
	text-align:center;
	letter-spacing:.05em;color:#000
}
.login__form{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;-webkit-box-align:end;
	-ms-flex-align:end;align-items:flex-end;margin-bottom:15px
}
.login__form .field{
	margin-bottom:10px
}
.login__form .field:first-of-type{
	margin-bottom:15px
}
.registration__form{
	display:-webkit-box;display:-ms-flexbox;
	display:flex;-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-align:stretch;
	-ms-flex-align:stretch;
	align-items:stretch;margin-bottom:15px
}
.login__recovery{
	font-weight:700;
	line-height:18px;
	font-size:12px;
	text-align:right;letter-spacing:.02em;text-decoration:none;color:#a3a8b9
}
.login__toggle h3,.registration__toggle h3,.vip__login h3{
	position:relative;margin:0 0 10px;
	font-weight:700;line-height:18px;
	font-size:12px;text-align:center;
	letter-spacing:.02em;color:#979caf
}
.login__toggle h3 span,.registration__toggle h3 span,.vip__login h3 span{
	position:relative;
	display:inline-block;
	background-color:#fff;
	padding:0 10px
}
.login__toggle h3:before,.registration__toggle h3:before,.vip__login h3:before{
	content:"";position:absolute;top:50%;border-top:1px dotted #979caf;left:0;right:0
}
.login__toggle .button,.registration__toggle .button,.vip__login .button{
	line-height:36px
}
.registration-success{
	min-height:calc(100vh - 105px);
	display:-webkit-box;display:-ms-flexbox;display:flex;
	-webkit-box-orient:vertical;-webkit-box-direction:normal;
	-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;
	-ms-flex-align:center;align-items:center;-webkit-box-pack:center;
	-ms-flex-pack:center;justify-content:center;text-align:center
}
.registration-success p{
	margin:35px 0 0;font-weight:300;
	line-height:27px;font-size:18px;
	text-align:center;letter-spacing:.05em;color:#000
}
.captcha{
	display:-webkit-box;display:-ms-flexbox;
	display:flex;-webkit-box-align:center;
	-ms-flex-align:center;align-items:center;
	-webkit-box-pack:center;-ms-flex-pack:center;
	justify-content:center;margin:15px 0;width:100%
}
.captcha img{
	width:304px;height:78px
}
.message{
	font-weight:500;line-height:normal;font-size:11px
}
.message_upload{
	display:none;font-weight:400;font-size:18px;color:#000
}
.message_error{
	margin:5px 0;-webkit-align-self:flex-start;
	-ms-flex-item-align:start;align-self:flex-start;color:#eb5757
}
.user__wrapper{
	padding:0 15px;margin-bottom:50px
}
.user__settings{
	background:linear-gradient(180deg,#fff,#f2f3fa);
	padding:0 30px 45px
}
.user__title{
	height:60px;margin:15px 0 30px;font-weight:400;line-height:60px;
	font-size:20px;text-align:center;letter-spacing:.05em;color:#000
}
.user__title_success{
	line-height:30px
}
.user__info{
	display:-webkit-box;
	display:-ms-flexbox;display:flex;
	-webkit-box-pack:start;-ms-flex-pack:start;
	justify-content:flex-start;-webkit-box-align:stretch;
	-ms-flex-align:stretch;align-items:stretch
}
.user__email,.user__password{
	height:40px;margin-left:15px;
	font-size:14px;line-height:20px;color:#353535
}
.user__email b,.user__password b{
	font-weight:500;line-height:normal;
	font-size:16px;color:#020202
}
.user__password{
	margin-left:53px;margin-top:15px
}
.user__actions{
	display:-webkit-box;display:-ms-flexbox;
	display:flex;-webkit-box-align:center;
	-ms-flex-align:center;align-items:center;
	-webkit-box-pack:justify;-ms-flex-pack:justify;
	justify-content:space-between;margin-top:20px
}
.user__actions .button{width:calc(50% - 7.5px)
}
.user__text{
	margin:0;font-weight:500;
	line-height:21px;font-size:14px;color:#000
}
.user__subscription{
	padding:30px 0
}
.user__subscription .user__text{
	padding:0 15px
}
.user__extend,.user__phone{padding:15px 0 15px 30px;border-top:1px solid #caccdd
}
.user__extend p,.user__phone p{
	margin:0;font-weight:400;line-height:30px;font-size:14px;color:#000
}
.user__extend b,.user__phone b{
	font-weight:700;text-transform:uppercase
}
.user__extend span,.user__phone span{
	display:inline-block;font-weight:400;
	line-height:30px;font-size:14px;color:#a3a8b9
}
.user__extend .button,.user__phone .button{
	width:175px;margin-top:6px
}
.user__extend{margin-top:15px
}
.user__phone{position:relative;border-bottom:1px solid #caccdd
}
.user__phone a{text-decoration:none
}
.user__phone-delete{
	position:absolute;right:15px;top:50%;
	-webkit-transform:translateY(-50%);transform:translateY(-50%);
	width:30px;height:30px
}
.password{
	display:-webkit-box;display:-ms-flexbox;display:flex;
	-webkit-box-align:center;-ms-flex-align:center;
	align-items:center;-webkit-box-pack:center;
	-ms-flex-pack:center;justify-content:center;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	background:rgba(244,245,251,.8);
	min-height:calc(100vh - 105px)
}
.password__back{font-size:0;margin-top:30px}.password__change{background:#fff;border:1px solid #e0e0f3;box-sizing:border-box;box-shadow:0 35px 45px rgba(43,63,120,.2);border-radius:5px;padding:10px 15px 15px;margin-right:30px;margin-left:30px}.password__change .label{display:inline-block;margin-bottom:6px}.password__change .label:last-of-type{margin-top:15px}.password__change .button{width:100%;margin-top:15px}.premium__about{padding:30px 15px 20px}.premium__title{margin:0;text-align:center;letter-spacing:.03em;color:#000}.premium__title_main{font-weight:700;line-height:37px;font-size:24px;text-transform:uppercase}.premium__title_subscription{padding:30px 0;font-weight:300;line-height:30px;font-size:20px;color:#fff}.premium__title_default{padding:12px 0;margin:15px 0;font-weight:500;line-height:36px;font-size:24px}.premium__text{margin:0;font-weight:400;line-height:18px;font-size:12px;letter-spacing:.03em;color:#000}.premium__subscriptions{background:linear-gradient(90deg,#8ec74c,#029e82);padding:0 15px 15px;border-bottom-left-radius:5px;border-bottom-right-radius:5px}.premium__buy{background:#fff;border-radius:5px;padding:15px 0 30px}.premium__buy .premium__title{line-height:60px}.premium__buy .button{display:block;margin:15px 15px 0}.premium__description{height:60px;background:rgba(228,233,242,.5);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	margin:0;
	font-weight:400;line-height:24px;font-size:14px;
	letter-spacing:.05em;color:#000
}
.premium__description b{
	font-weight:700;font-size:16px
}
.premium__description>*{
	margin:0 2px
}
.premium__prices{
	height:60px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;justify-content:center
}
.premium__price{
	margin:0 5px;
	line-height:30px
}
.premium__price_old{
	font-weight:300;font-size:24px;
	-webkit-text-decoration-line:line-through;text-decoration-line:line-through
}
.premium__price_new{
	font-weight:700;font-size:36px;color:#37bf76
}
.premium__wrapper{
	padding:15px 15px 30px
}
.premium__table{
	width:100%;
	border-collapse:collapse;color:#000;
	text-align:center;border-radius:5px;
	overflow:hidden;background-color:#f1f4f9
}
.premium__table .green{color:#229964
}
.premium__table th{height:45px;font-size:11px;font-weight:400
}
.premium__table th:last-of-type{
	background:linear-gradient(120.17deg,#9ed75a -1.73%,#27ab8e 100.86%);
	font-weight:700;color:#fff;text-transform:uppercase
}
.premium__table td,.premium__table th{
	width:25%;border-left:1px solid #caccdd
}
.premium__table td:first-of-type,.premium__table th:first-of-type{
	background-color:#e9ecf2;
	padding-left:15px;
	text-align:left;border-left:none
}
.premium__table td{font-size:9px
}
.premium__table thead tr{
	border-bottom:2px solid #2aad8d
}
.premium__table tbody tr{height:35px
}
.premium__table tbody tr:last-of-type{
	height:70px
}
.premium__table tbody tr:last-of-type td:first-of-type{
	font-size:12px
}
.premium__table tbody tr:last-of-type td:last-of-type{
	padding:0 4px
}
.get-premium{
	display:block;width:100%;
	height:70px;
	margin-top:30px;font-weight:500;
	font-size:17px;line-height:70px;text-align:center;
	color:#fff
}
.reviews{
	padding:15px 15px 0;background-color:#f1f4f9
}
.reviews .button{
	display:block;
	width:128px;
	margin:15px auto 30px
}
.reviews__title{
	margin:0 0 15px;
	font-weight:500;
	line-height:60px;font-size:24px;
	text-align:center;
	letter-spacing:.03em;color:#000
}
.reviews__container{
	display:-webkit-box;
	display:-ms-flexbox;display:flex;-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start
}
.reviews__column{
	-ms-flex-preferred-size:24%;
	flex-basis:24%
}
.reviews__screen{
	display:block;
	font-size:0;
	box-shadow:0 4px 4px rgba(27,44,77,.25);
	border-radius:5px;margin-top:10px;overflow:hidden
}
.reviews__screen:first-of-type{
	margin-top:0
}
.reviews__screen img{
	max-width:100%
}
.reviews__hidden{
	display:none;margin-top:10px
}
.reviews__send{height:120px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;-webkit-box-align:center;
	-ms-flex-align:center;align-items:center;
	-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between
}
.reviews__text{
	margin:0 15px 0 0;
	font-weight:700;
	line-height:21px;font-size:14px;color:#000
}
.reviews__text a{-webkit-text-decoration-line:underline;
	text-decoration-line:underline;color:#4790c4
}
.reviews__text span{
	text-transform:uppercase;
	color:#59c072
}
.calc{
	position:relative;
	padding:40px 15px
}
.calc .rangeslider{margin-top:40px;
	background-color:#e6e9f0
}
.calc .rangeslider--horizontal{
	height:4px
}
.calc .rangeslider--horizontal .rangeslider__handle{
	top:2px;-webkit-transform:translateY(-50%);
	transform:translateY(-50%)
}
.calc .rangeslider__handle{
	width:44px;height:44px;
	border-radius:50%;border:4px solid #3cb385;
	background-color:#fff;
	box-sizing:border-box;
	box-shadow:3px 8px 10px rgba(19,37,84,.2);
	font-weight:700;
	line-height:36px;
	font-size:18px;
	text-align:center;color:#000
}
.calc .rangeslider__handle:after{
	background-image:linear-gradient(transparent,hsla(0,0%,100%,0));
	width:36px;height:36px
}
.calc .rangeslider__fill{
	background-color:#3cb385
}
.calc_vip .rangeslider__fill{
	background-color:#fca527
}
.calc_vip .rangeslider__handle{
	border-color:#fca527
}
.calc_vip .calc__sum{
	color:#fca527
}
.calc__max,.calc__min{
	position:absolute;
	bottom:50px;
	line-height:18px;
	font-size:12px;color:#000
}
.calc__min{
	left:15px
}
.calc__max{
	right:15px
}
.calc__title{
	margin:0 0 10px;line-height:37px;font-size:24px;color:#000
}
.calc__days,.calc__title{
	font-weight:500;text-align:center;letter-spacing:.03em
}
.calc__days{
	margin:0;line-height:45px;font-size:12px;color:#a3a8b9
}
.calc__sum{
	margin:0;
	font-weight:700;
	line-height:30px;
	font-size:22px;text-align:center;letter-spacing:.03em;color:#37bf76
}
.calc__container{
	display:-webkit-box;display:-ms-flexbox;
	display:flex;-webkit-box-align:start;
	-ms-flex-align:start;align-items:flex-start;
	margin-top:30px;line-height:28px;font-size:12px;color:#000
}
.calc__container .field{
	width:112px
}
.calc__bet{
	text-transform:uppercase
}
.calc__bet,.calc__qty{-ms-flex-preferred-size:50%;flex-basis:50%
}
.calc__bet input,.calc__bet span,.calc__qty input,.calc__qty span{
	font-size:20px;font-weight:700
}
.calc__range{
	margin-top:35px;line-height:18px;font-size:12px;text-transform:uppercase
}
.payment{margin-bottom:50px
}
.payment__info{
	height:120px;display:-webkit-box;
	display:-ms-flexbox;display:flex;
	-webkit-box-align:center;-ms-flex-align:center;
	align-items:center;padding:0 15px
}
.payment__info .icon{
	min-width:30px;margin-left:15px;margin-right:30px
}
.payment__info p{
	line-height:18px;
	font-size:13px;
	letter-spacing:.02em;
	text-transform:uppercase;color:#484a52
}
.payment__info p b{
	font-weight:700
}
.payment__promo{
	position:relative;
	background:linear-gradient(328.58deg,#f0efe7 22.49%,#fffaf2 136.26%);
	padding:20px 30px 30px;margin-bottom:35px
}
.payment__promo .label{
	margin-bottom:10px;
	display:block;font-style:italic;
	font-weight:400;line-height:normal;
	font-size:12px;color:rgba(68,69,89,.8)
}
.payment__promo:after{
	content:"";
	position:absolute;top:100%;
	left:0;right:0;height:35px;
	background:url(/assets/img/mobile/border.png) 0 0 repeat-x
}
.payment__title{
	margin:0;font-weight:300;
	line-height:45px;text-align:center;font-size:30px;color:#000
}
.payment__price{
	margin:0 0 30px;display:-webkit-box;display:-ms-flexbox;display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center
}
.payment__sum{
	margin:10px 5px 0;line-height:37px;color:#000
}
.payment__sum_old{
	font-weight:300;font-size:24px;
	-webkit-text-decoration-line:line-through;text-decoration-line:line-through
}
.payment__sum_new{
	font-weight:700;font-size:30px
}
.payment__form .button{
	margin-top:15px
}
.payment__wrapper{padding:0 30px
}
.payment__wrapper_btn{
	height:105px;background-color:#f0efe7;
	display:-webkit-box;
	display:-ms-flexbox;display:flex;-webkit-box-align:center;
	-ms-flex-align:center;align-items:center;
	-webkit-box-pack:center;-ms-flex-pack:center;
	justify-content:center
}
.payment__wrapper_btn .button{
	width:100%;
	background:linear-gradient(95.08deg,#fff -49.14%,#efefef 57.88%);
	box-shadow:0 1px 5px rgba(0,0,0,.15);border:none;line-height:30px
}
.payment__text{
	margin:30px 0;
	font-weight:300;
	line-height:18px;
	font-size:12px;
	text-align:center;
	letter-spacing:.03em;color:#000
}
.upload{
	padding:0 15px
}
.upload input[type=file]{
	display:none
}
.upload__title{
	margin:15px 0;padding:10px 0;
	font-weight:400;line-height:27px;
	font-size:18px;
	text-align:center;
	letter-spacing:.05em;color:#000
}
.upload__delete{
	color:#353535;
	line-height:40px;
	text-decoration:underline
}
.review{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;min-height:calc(100vh - 105px);
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	padding:0 15px;
	background:rgba(28,31,36,.7)
}
.review__screen{
	margin:auto;max-width:100%
}
.review__info{
	width:100%;margin:30px 0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between
}
.review__name{
	font-weight:500;
	line-height:18px;font-size:12px
}
.review__date,.review__name{
	letter-spacing:.03em;color:#ffbb29
}
.review__date{
	line-height:17px;font-size:11px
}
.review__text{
	margin:0;-ms-flex-preferred-size:100%;
	flex-basis:100%;line-height:21px;
	font-size:14px;
	letter-spacing:.03em;color:#fff
}
.info{
	padding:15px 30px 80px;
	background:linear-gradient(180deg,#fff,#f3f4fa)
}
.info__title{
	margin:0;font-weight:400;
	line-height:normal;color:#000
}
.info__title_main{font-size:20px;
	line-height:35px;
	text-align:center;
	letter-spacing:.05em;
	text-transform:uppercase
}
.info__title_small{
	font-weight:500;line-height:24px;font-size:16px
}
.info__text{
	margin:0;
	line-height:18px;
	font-size:12px;color:#000
}
.info__text_bold{
	font-weight:500;
	line-height:24px;
	font-size:16px
}
.info__list{list-style:none;padding:0;margin:0
}
.info__item{
	position:relative;
	font-size:12px;
	line-height:18px;
	font-weight:400;padding-left:15px
}
.info__item:before{
	content:"";
	position:absolute;left:0;
	top:9px;-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	width:6px;height:6px;
	border-radius:50%;
	background-color:#ffb825
}
.info__form .label span{font-weight:500;font-size:12px
}
.landing .orange{color:#ffb525}.landing .red{color:#ff0b42
}
.landing__home{font-size:0
}
.landing__home img{
	width:100%
}
.landing__button{
	padding:0 15px;height:70px;display:-webkit-box;
	display:-ms-flexbox;display:flex;-webkit-box-align:center;
	-ms-flex-align:center;align-items:center;-webkit-box-pack:center;
	-ms-flex-pack:center;justify-content:center;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	overflow:hidden
}
.landing__button_orange{
	background:url(/assets/img/mobile/landing/bg-button-orange.png) 50% no-repeat;
	background-size:cover
}
.landing__button_red{
	background:url(/assets/img/mobile/landing/bg-button-red.png) 50% no-repeat;
	background-size:cover
}
.landing__info{
	padding:30px 15px;text-align:center
}
.landing__text{line-height:18px;font-size:12px
}
.landing__text,.landing__title{
	margin:0;
	text-align:center;
	letter-spacing:.03em;
	color:#000
}
.landing__title{
	font-weight:400;line-height:30px;
	font-size:20px
}
.landing__title_uppercase{
	text-transform:uppercase
}
.landing__receive{background-size:cover;
	padding:45px 15px 50px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px
}
.landing__receive h2{
	margin:0 0 40px;font-weight:700;
	line-height:37px;
	font-size:24px;
	text-align:center;letter-spacing:.03em;
	color:#fff;
	text-transform:uppercase;
	text-shadow:0 1px 5px rgba(0,0,0,.15)
}
.landing__receive ul{
	list-style:none;padding:0;margin:0;padding-left:5px
}
.landing__receive li{
	position:relative;padding-left:65px;
	margin-top:30px;font-weight:400;
	line-height:normal;font-size:17px;
	color:#fff
}
.landing__receive li .icon{
	position:absolute;top:50%;
	left:20px;-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}
.landing__receive li:first-of-type{
	margin-top:0
}
.landing__receive_orange{
	background:url(/assets/img/mobile/landing/bg-receive-orange.png) 50% no-repeat;background-size:cover
}
.landing__receive_red{
	background:url(/assets/img/mobile/landing/bg-receive-red.png) 50% no-repeat;
	background-size:cover
}
.landing__double{
	height:305px;padding:30px 15px;box-sizing:border-box;background-color:#edeffa
}
.landing__double h2{
	text-transform:uppercase;font-weight:700;
	line-height:37px;font-size:24px;text-align:center;letter-spacing:.03em;
	color:#000
}
.landing__double span{
	font-weight:700;line-height:91px;
	font-size:60px;text-align:center;letter-spacing:.1em
}
.landing__enjoy{
	height:105px;padding:22px 15px 33px;
	display:-webkit-box;display:-ms-flexbox;display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	background-color:#f5f6ff;
	font-weight:700;
	line-height:26px;
	font-size:17px;
	text-align:center;
	letter-spacing:.03em;color:#000
}
.landing__enjoy p{
	margin:0
}
.landing__enjoy span{
	color:#ffc631
}
.lost-wins__container{
	background:linear-gradient(132.74deg,#e6e8eb,#ecedef 41.78%,#f5f5f5 55.93%,#e6e8eb 74.37%,#f5f5f5 92.21%);
	padding:15px;width:100%;box-sizing:border-box;position:relative
}
.lost-wins__container:after,.lost-wins__container:before{
	position:absolute;bottom:100%;
	font-size:0;content:url(/assets/img/mobile/icon-left-bottom-gray.svg);left:0
}
.lost-wins__container:after{-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
	left:auto;right:0
}
.lost-wins{
	background-color:#fff;border-radius:5px;color:#000
}
.lost-wins__title{
	margin:0;
	padding:0 15px;
	font-weight:500;
	font-size:20px;
	text-align:left;
	-webkit-box-align:center;
	-ms-flex-align:center;align-items:center
}
.lost-wins__game,.lost-wins__title{
	height:60px;display:-webkit-box;display:-ms-flexbox;
	display:flex
}
.lost-wins__game{
	text-decoration:none;border-top:1px solid #caccdd
}
.lost-wins__game>*{
	display:-webkit-box;display:-ms-flexbox;display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;align-items:center;padding:0 15px;
	box-sizing:border-box
}
.lost-wins__team{
	-ms-flex-preferred-size:calc(50% - 50px);
	flex-basis:calc(50% - 50px);max-width:calc(50% - 50px)
}
.lost-wins__team span{
	max-width:calc(100% - 30px);
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight:500;
	font-size:10px;
	text-transform:uppercase
}
.lost-wins__team img{
	margin-right:10px;
	-webkit-transform:translateY(-10%);
	transform:translateY(-10%);
	max-width:20px;max-height:20px
}
.lost-wins__team:last-of-type{
	-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end
}
.lost-wins__team:last-of-type img{margin-left:10px;margin-right:0
}
.lost-wins__result{
	min-width:100px;
	-ms-flex-preferred-size:100px;
	flex-basis:100px;border-left:1px solid #caccdd;
	-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end
}
.lost-wins__result .icon{
	width:25px;height:25px;
	margin-left:5px
}
.icon{
	display:inline-block;
	background-size:cover;
	background-repeat:no-repeat;background-position:50%;-webkit-font-smoothing:antialiased
}
.icon_full-version{
	width:11px;height:16px;
	background-image:url(/assets/img/mobile/icon-full-version.svg)
}
.icon_google-play{
	width:100px;
	height:30px;
	background-image:url(/assets/img/mobile/icon-google-play.svg)
}
.icon_apple-store{
	width:100px;
	height:30px;
	background-image:url(/assets/img/mobile/icon-apple-store.svg)
}
.icon_finger{
	width:30px;
	height:44px;
	background-image:url(/assets/img/mobile/icon-finger.svg)
}
.icon_telegram{
	width:51px;
	height:51px;
	background-image:url(/assets/img/mobile/icon-telegram.svg)
}
.icon_premium-offer{
	width:51px;
	height:54px;
	background-image:url(/assets/img/mobile/icon-premium-banner.svg)
}
.icon_smartphone{
	min-width:50px;
	width:50px;
	height:65px;
	background-image:url(/assets/img/mobile/icon-smartphone.svg)
}
.icon_mail{
	width:100px;
	height:41px;
	background-image:url(/assets/img/mobile/icon-mail.svg)
}
.icon_success-registration{
	width:45px;
	height:45px;
	background-image:url(/assets/img/mobile/icon-success-transparent.svg)
}
.icon_failure-transparent{
	width:45px;
	height:45px;
	background-image:url(/assets/img/mobile/icon-failure-transparent.svg)
}
.icon_target{
	width:45px;
	height:45px;background-image:url(/assets/img/mobile/icon-target.svg)
}
.icon_user{
	width:38px;
	height:40px;
	background-image:url(/assets/img/mobile/icon-user.svg)
}
.icon_message{
	width:14px;height:13px;background-image:url(/assets/img/mobile/icon-message.svg)
}
.icon_chart-white{
	width:50px;
	height:50px;
	background-image:url(/assets/img/mobile/iconpack/chart.svg)
}
.icon_target-white{
	width:50px;height:50px;background-image:url(/assets/img/mobile/iconpack/target.svg)
}
.icon_handshake-white{
	width:50px;
	height:38px;
	background-image:url(/assets/img/mobile/iconpack/handshake.svg)
}
.icon_discount-white{
	width:50px;
	height:50px;
	background-image:url(/assets/img/mobile/iconpack/discount.svg)
}
.icon_moneybag-white{
	width:34px;
	height:40px;
	background-image:url(/assets/img/mobile/iconpack/moneybag.svg)
}
.icon_moneyhand-white{width:40px;height:40px;background-image:url(/assets/img/mobile/iconpack/money-hand.svg)}.icon_checkcircle-white{width:40px;height:40px;background-image:url(/assets/img/mobile/iconpack/check-circle.svg)}.icon_target-orange{width:40px;height:40px;background-image:url(/assets/img/mobile/landing/icon-target-orange.svg)}.icon_target-red{width:40px;height:40px;background-image:url(/assets/img/mobile/landing/icon-target-red.svg)}.icon_chart-orange{width:40px;height:40px;background-image:url(/assets/img/mobile/landing/icon-chart-orange.svg)}.icon_chart-red{width:40px;height:40px;background-image:url(/assets/img/mobile/landing/icon-chart-red.svg)}.icon_handshake-orange{width:50px;height:38px;background-image:url(/assets/img/mobile/landing/icon-handshake-orange.svg)}.icon_handshake-red{width:50px;height:38px;background-image:url(/assets/img/mobile/landing/icon-handshake-red.svg)}.icon_support-orange{width:40px;height:40px;background-image:url(/assets/img/mobile/landing/icon-support-orange.svg)}.icon_support-red{width:40px;height:40px;background-image:url(/assets/img/mobile/landing/icon-support-red.svg)}.icon_sms-orange{width:40px;height:38px;background-image:url(/assets/img/mobile/landing/icon-sms-orange.svg)}.icon_sms-red{width:40px;height:38px;background-image:url(/assets/img/mobile/landing/icon-sms-red.svg)}
.icon_calendar-orange{
	width:40px;height:39px;
	background-image:url(/assets/img/mobile/landing/icon-calendar-orange.svg)
}
.icon_calendar-red{
	width:40px;height:39px;
	background-image:url(/assets/img/mobile/landing/icon-calendar-red.svg)
}
.icon_free{
	width:18px;height:23px;
	background-image:url(/assets/img/mobile/navigation/icon-free.svg)
}
.icon_premium{
	width:23px;height:22px;
	background-image:url(/assets/img/mobile/navigation/icon-premium.svg)
}
.icon_guarantee{
	width:22px;
	height:22px;
	background:url(/assets/img/mobile/navigation/icon-guarantee.svg) 50% no-repeat transparent;background-size:100% 100%
}
.icon_action{
	width:24px;
	height:23px;
	background-image:url(/assets/img/mobile/navigation/icon-action.svg)
}
.icon_login{
	width:22px;
	height:23px;
	background-image:url(/assets/img/mobile/navigation/icon-login.svg)
}
.icon_active.icon_free{
	background-image:url(/assets/img/mobile/navigation/icon-free-active.svg)
}
.icon_active.icon_premium{
	background-image:url(/assets/img/mobile/navigation/icon-premium-active.svg)
}
.icon_active.icon_guarantee{background-image:url(/assets/img/mobile/navigation/icon-guarantee-active.svg)}.icon_active.icon_action{background-image:url(/assets/img/mobile/navigation/icon-action-active.svg)}.icon_active.icon_login{background-image:url(/assets/img/mobile/navigation/icon-login-active.svg)}.icon_hockey{width:16px;height:17px;background-image:url(/assets/img/mobile/icon-sport-hockey.svg)}.icon_soccer{width:16px;height:17px;background-image:url(/assets/img/mobile/icon-sport-football.svg)}.icon_tennis{width:17px;height:17px;
	background-image:url(/assets/img/mobile/icon-sport-tennis.svg)
}
.icon_basketball{
	width:17px;
	height:17px;
	background-image:url(/assets/img/mobile/icon-sport-basketball.svg)
}
.icon_success{
	background-image:url(/assets/img/mobile/icon-success.svg)
}
.icon_failure,.icon_success{width:15px;height:15px;border-radius:50%}.icon_failure{background-image:url(/assets/img/mobile/icon-failure.svg)}.icon_return{width:15px;height:15px;border-radius:50%;background-image:url(/assets/img/mobile/icon-return.svg)}.icon_alfa{width:14px;height:20px;background-image:url(/assets/img/mobile/payment/alfa.svg)}.icon_mastercard{width:34px;height:20px;background-image:url(/assets/img/mobile/payment/mastercard.svg)}.icon_neteller{width:58px;height:10px;background-image:url(/assets/img/mobile/payment/neteller.svg)}
.icon_paypal{
	width:16px;
	height:18px;
	background-image:url(/assets/img/mobile/payment/paypal.svg)
}
.icon_privatbank{
	width:19px;
	height:18px;
	background-image:url(/assets/img/mobile/payment/privatbank.svg)
}
.icon_qiwi{
	width:19px;
	height:20px;
	background-image:url(/assets/img/mobile/payment/qiwi.svg)
}
.icon_skrill{
	width:47px;
	height:18px;
	background-image:url(/assets/img/mobile/payment/skrill.svg)
}
.icon_visa{
	width:42px;
	height:14px;
	background-image:url(/assets/img/mobile/payment/visa.svg)
}
.icon_webmoney{
	width:20px;
	height:20px;
	background-image:url(/assets/img/mobile/payment/webmoney.svg)
}
.icon_yandex_money{
	width:18px;
	height:20px;
	background-image:url(/assets/img/mobile/payment/yandex-money.svg)
}