@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
body{
	font-family:Roboto,Arial,sans-serif;
}
body.overflow_y{
	overflow-y:hidden;
}
a,a:visited, a:hover, a:active{
	text-decoration: none;
	color:inherit;

}
.header{
	width:100%;
	height:65px;
	z-index: 3;
	position: fixed;
	padding-left:10px;
	padding-right:10px;
	box-sizing:border-box;
	background:linear-gradient(180deg,#262d37 -9.09%,#1c1f24)
}
.spacer{	
	width:100%;
	height:65px;
}
.header__text{
	font-size:10px;
	font-weight:700;
	margin-top: 25px;
	text-transform:uppercase;
	color:#ffd739;
}
.header__logo{
	margin:0 10px;
	width:98px;
	height:42px;
	background:url(/assets/img/mobile/logo.svg) 50% no-repeat
}
.header__link{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;-webkit-box-align:center;
	-ms-flex-align:center;align-items:center;
	-webkit-box-pack:center;-ms-flex-pack:center;
	justify-content:center;text-decoration:none;
}
.home{
	background-color:#e5e5e5
}
.content{
	background-color:#17181c;
	padding: 5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px
}
.content,.tabs{
	width:100%;
	box-sizing:border-box
}
.tabs{
	height:35px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border:1px solid #8c8c8c;
	border-bottom:none;
	display:-webkit-box;
	display:-ms-flexbox;display:flex;
	overflow:hidden
}
.tabs a{
	color:#fff;
}
.tabs__tab{
	-ms-flex-preferred-size:100%;
	flex-basis:100%;
	font-size:13px;
	line-height:33px;
	text-align:center;
	text-decoration:none;	
}

.tabs__tab_active{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-color:#fff;color:#17181c;
}

.forecasts{
	width:100%;
	background-color:#fff;
	border-radius:5px;
	overflow:hidden;
}
.forecasts_top{
	border-top-left-radius:0;
	border-top-right-radius:0
}
.forecasts__title{
	height:55px;
	margin:0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;padding-left:15px;
	-webkit-box-pack:start;
	-ms-flex-pack:start;
	justify-content:flex-start;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
}
.forecasts__title .icon{
	display:inline-block;
	vertical-align:middle;
	margin-right:15px;
}
.forecasts__sport{
	font-size:20px;
	font-weight:700;
}
.forecasts__day{
	margin-left:4px;
	font-size:20px;
	font-weight:300;
}
.forecasts__coefficient{
	width:70px;
	margin-left:auto;font-size:12px;
	text-align:center;color:rgba(0,0,0,.7);
}
.forecasts__item{
	position:relative;
	height:60px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;-webkit-box-orient:vertical;
	-webkit-box-direction:normal;-ms-flex-direction:column;
	flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;
	justify-content:center;border-top:1px solid rgba(32,35,95,.2);
	padding-left:15px;text-decoration:none
}
.forecasts__teams{
	margin:0 0 10px;font-size:14px;font-weight:400
}
.forecasts__league,.forecasts__teams{
	width:calc(100% - 70px - 45px);
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.forecasts__league{
	font-size:9px;
	color:#1b3c5e;
	text-transform:uppercase;
	letter-spacing: 2px;
	}
.forecasts__date{
	font-weight:700;
	line-height:normal;
	font-size:10px;
	color:#1b3c5e;
}
.forecasts__coeff{
	width:70px;background-color:#e5e5e5;
	position:absolute;top:0;right:0;text-align:center;
	line-height:60px;font-size:14px;font-weight:500;color:#4b4b4b
}

.forecasts__result{
	position:absolute;
	right:85px;top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%)
}
.calc{
	position:relative;
	padding:40px 15px
}
.calc .rangeslider{margin-top:40px;
	background-color:#e6e9f0
}
.calc .rangeslider--horizontal{
	height:4px
}
.calc .rangeslider--horizontal .rangeslider__handle{
	top:2px;-webkit-transform:translateY(-50%);
	transform:translateY(-50%)
}
.calc .rangeslider__handle{
	width:44px;height:44px;
	border-radius:50%;border:4px solid #3cb385;
	background-color:#fff;
	box-sizing:border-box;
	box-shadow:3px 8px 10px rgba(19,37,84,.2);
	font-weight:700;
	line-height:36px;
	font-size:18px;
	text-align:center;color:#000
}
.calc .rangeslider__handle:after{
	background-image:linear-gradient(transparent,hsla(0,0%,100%,0));
	width:36px;height:36px
}
.calc .rangeslider__fill{
	background-color:#3cb385
}
.calc_vip .rangeslider__fill{
	background-color:#fca527
}
.calc_vip .rangeslider__handle{
	border-color:#fca527
}
.calc_vip .calc__sum{
	color:#fca527
}
.calc__max,.calc__min{
	position:absolute;
	bottom:50px;
	line-height:18px;
	font-size:12px;color:#000
}
.calc__min{
	left:15px
}
.calc__max{
	right:15px
}
.calc__title{
	margin:0 0 10px;line-height:37px;font-size:24px;color:#000
}
.calc__days,.calc__title{
	font-weight:500;text-align:center;letter-spacing:.03em
}
.calc__days{
	margin:0;line-height:45px;font-size:12px;color:#a3a8b9
}
.calc__sum{
	margin:0;
	font-weight:700;
	line-height:30px;
	font-size:22px;text-align:center;letter-spacing:.03em;color:#37bf76
}
.calc__container{
	display:-webkit-box;display:-ms-flexbox;
	display:flex;-webkit-box-align:start;
	-ms-flex-align:start;align-items:flex-start;
	margin-top:30px;line-height:28px;font-size:12px;color:#000
}
.calc__container .field{
	width:112px
}
.calc__bet{
	text-transform:uppercase
}
.calc__bet,.calc__qty{-ms-flex-preferred-size:50%;flex-basis:50%
}
.calc__bet input,.calc__bet span,.calc__qty input,.calc__qty span{
	font-size:20px;font-weight:700
}
.calc__range{
	margin-top:35px;line-height:18px;font-size:12px;text-transform:uppercase
}

.navigation {
	width: 100%;
	height: 52px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	background-color: #fff;
	border-top: 1px solid rgba(19,21,58,.15);
}
.nav_spacer{
height: 52px;
width: 100%;
}
.navigation__link {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	padding-bottom: 4px;
	text-align: center;
	text-decoration: none;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.navigation, .navigation__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.navigation__text {
	margin-top: 2px;
	font-size: 12px;
	letter-spacing: .012em;
	color: rgba(0,0,0,.6);
}

.profile{
	top: 0;
	right:0; 
	position:absolute;
	text-align: center;
}
.profile span{
	color: #fff;
}
.profile:hover, .profile__menu_open, .profile__menu_open:hover {
	background-color: inherit;
}
.user_box{
	margin: 0.5em 0.5em;	
	box-sizing: border-box;
	cursor: pointer;
}
.icon{
	display:inline-block;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50%;
	-webkit-font-smoothing:antialiased
}

.icon_success{
	background-image:url(assets/icon-success.svg)
}
.icon_pending,.icon_failure,.icon_success{
	width:15px;height:15px;
	border-radius:50%
}
.icon_failure{
	background-image:url(assets/icon-failure.svg);
}
.icon_pending{
	background-image:url(assets/pending.svg)
}
.icon_login {
	width: 22px;
	height: 23px;
	background-image: url(assets/icon-login.svg);
}
.icon_free {
	width: 18px;
	height: 23px;
	background-image: url(assets/icon-free.svg);
}