<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>PAGE NOT FOUND</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/error_404.css' %}">
     <script type="text/javascript" src="{% static 'js/redirect.js' %}"></script>
</head>
<body class="container">
<h4>
    Page Doesn't Exist. Error 404.
</h4>
<p>
    This is not the page you are looking for.
    <br>
    Either we messed up or you mistyped the URL<br>
    Please sit back and relax while our team is working on the issue.Page will be redirected to <a href="/">Homepage</a>
    automatically in 5 seconds.If it doesn't, please <a href="/"> click here</a>
</p>
<div class="row col-sm-12 col-md-6 col-xl-6 bg1">
</div>
<div class="row col-sm-12 col-md-6 col-xl-6 bg2">

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

</body>
<!-- 886426184455-642i8sn5hvg4mnk1dn4tppjk00brhl6q.apps.googleusercontent.com -->
<!-- YSFhrx1IMAi0o4nOILol_dn6 -->

</html>