<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Connection Error</title>
  <link rel="stylesheet" href="{% static 'css/error404.css' %}">
  <script type="text/javascript" src="{% static 'js/redirect.js' %}"></script>
</head>

<body>
  <h1>There was an Error🤢</h1>
  <p class="zoom-area"><b>Ooops!! </b>Something went wrong while parsing the page. You'll be
    redirected to the previous page shortly.</p>
    <section class="error-container">
      <span><span>5</span></span>
      <span>0</span>
      <span><span>0</span></span>
    </section>
    <div class="link-container">
      <a target="_self" href="/" class="more-link">Go to previous page</a>
    </div>


  </body>

  </html>
