{% extends 'mysite/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="wrap">
  {% for each in games %}
  <a href="#reg" class="item">
    <div class="flag"><img src="{% static 'css/assets/flag_default.png' %}"></div>
    <div class="info">
      <div class="name">{{ each.teams }}</div>
      <div class="y">
        <span><b>19:00</b></span>Prediction Tip <span>{{ each.tips }}</span>
      </div>
    </div>
    <div class="clr"></div>
  </a>
  {% endfor %}
</div>
{% endblock %}
