<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<div class="user_bets">
		<div class="open_bets"></div>
		<div class="bet_history">
			<div>Bet type</div>
			<div>Outcome</div>
		</div>
	</div>
	<!-- User Account -->
	<div id="user_account">
		<div id="user_id">
			<span>Phone Number</span>
			<span>Id</span>
		</div>
		<div id="user_wallet">
			<span>KES</span>
			<span>Wallet</span>
		</div>
		<div id="user_messages">
			messages
		</div>
		<div id="user_settings">
			<h4>Settings</h4>
			<ul>
				<li><a href="#">Personal details</a></li>
				<li><a href="#">Change password</a></li>
				<li><a href="#">Verify account</a></li>
				<li><a href="#">Self-Exclusion</a></li>
			</ul>
		</div>
		<div id="user_help">
			<h4>Help and other </h4>
			<ul>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Copyright and legal</a></li>
				<li><a href="#">Terms and conditions</a></li>
			</ul>
		</div>
		<div class="sign_out">
			<span class="btn btn-success">SIGN OUT</span>
		</div>
	</div>
	<!--Wallet was here-->
	<!-- Settings -->
	<div class="user_setting">
		<ul>
			<li><a href="#">Time format</a></li>
			<li><a href="#">App language</a></li>
		</ul>
	</div>
</body>
</html>