{% extends 'mysite/base.html' %}
<!--main content  -->
{% block content %}
<div class="forecasts">
  <div class="forecasts__title">
    <i class="icon icon_soccer"></i>
    <span class="forecasts__sport">Football</span>
    {% if request_tom == "yest" %}
    <span class="forecasts__day">Yesterday</span>
    {% endif %}
    {% if request_tom == "tod" %}
    <span class="forecasts__day">Today</span>
    {% endif %}
    {% if request_tom == "tom" %}
    <span class="forecasts__day">Tomorrow</span>
    {% endif %}
    <span class="forecasts__coefficient center">Odds</span>
  </div>
  <div class="forecasts__list">
    {% for game in games %}
    <a href="{% url 'game_details' pk=game.pk%}" class="forecasts__item">
      <i class="flag"><img src=""></i>
      <h4 class="forecasts__teams">{{ game.teams }}</h4>
      <span class="forecasts__league">
        <span class="forecasts__date">
          <b>{{ game.time }}</b>
        </span>
        Pick <b style="font-size: 11px;">{{ game.chance }}</b>
        <i>Result</i> <b style="font-size: 12px;">{{ game.match_result }}</b>
      </span>
      {% if game.result_overall == 'homewin' or game.result_overall == 'awaywin' or game.result_overall == '12win' or game.result_overall == '1Xwin' or game.result_overall == 'X2win' %}
      <i class="forecasts__result icon icon_success" title="won"></i>
      {% endif %}
      {% if game.result_overall == 'drawwin' %}
      <i class="forecasts__result icon icon_success" title="won"></i>
      {% endif %}
      {% if game.result_overall == 'drawlose' or game.result_overall == 'homelose' or game.result_overall == 'awaylose' or game.result_overall == '12lose' or game.result_overall == '1Xlose' or game.result_overall == 'X2lose' %}
      <i class="forecasts__result icon icon_failure" title="lost"></i>
      {% endif %}
      {% if game.result_overall == 'no_results_yet' %}
      <i class="forecasts__result icon icon_pending" title="waiting"></i>
      {% endif %}
      <span
      class="forecasts__coeff forecasts__coeff_free">{{ game.win_odd }}
    </span>
  </a>
  {% endfor %}
</div>
</div>
{% endblock %}
