<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="886426184455-642i8sn5hvg4mnk1dn4tppjk00brhl6q.apps.googleusercontent.com">
    <title>Hustler Website</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&amp;subset=cyrillic-ext"
          rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>

    <!-- google login platform -->
    <script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
    <!--custom css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body data-gr-c-s-loaded="true">
	   	<!-- navbar -->
	   	<div class="sidenav_wrap">
<div id='sidenav'>
	<div class="DHuser_box">
		
	</div>
	<ul class="menu">
		<li><a href="/today/">Games</a>
		<li><a href="#">Favorites</a>
		<li><a href="#">Bet Slip</a>
		<li><a href="#">Wallet</a>
		<li><a href="#">Settings</a>
		<li><a href="#" id="signin">Sign in</a>
	</ul>
	
</div>
</div>
<header class="header">
    <a href="/" class="header__link">
        <span class="header__text">BEST SPORT</span>
        <div class="header__logo"></div>
        <span class="header__text">PREDICTIONS</span>
    </a>
    <a class="profile">
    	<div class="user_box">
    		<!-- for user icon -->
		<div class="sb-avatar" style="display: inline-block; width: 32px; height: 32px; border-radius: 500px;margin-bottom: 5px;">
			<img width="32" height="32" src="https://secure.gravatar.com/avatar/34fdf268f6b275d475af750edcf1fcf4?s=32&amp;d=404" alt="Dennis" 
			style="max-width: 100%; width: 38px; height: 38px; border-radius: 500px;">
		</div><br>
		<span>Dennis
		 <span class="dqicon dqicon-caret-down undefined">			
		</span>
	    </span>
        </div>
    </a>
</header>
<div class="spacer"></div>

<main class="home">
    <div class="content">
         <div class="tabs">
            {% if request_tom == "yest" %}
            <a class="tabs__tab tabs__tab_active" href="/yesterday/" style="color: #000">Yesterday</a>
            <a class="tabs__tab " href="/">Today</a>
            <a class="tabs__tab " href="/tomorrow/">Tomorrow</a>
            {% endif %}
            {% if request_tom == "tod" %}
            <a class="tabs__tab " href="/yesterday/">Yesterday</a>
            <a class="tabs__tab tabs__tab_active" href="/" style="color: #000">Today</a>
            <a class="tabs__tab " href="/tomorrow/">Tomorrow</a>
            {% endif %}
            {% if request_tom == "tom" %}
            <a class="tabs__tab " href="/yesterday/" >Yesterday</a>
            <a class="tabs__tab " href="/">Today</a>
            <a class="tabs__tab tabs__tab_active" href="/tomorrow/" style="color: #000" >Tomorrow</a>
            {% endif %}
        </div>
        <div class="forecasts  forecasts_top ">
            <h2 class="forecasts__title">
                <i class="icon icon_soccer"></i>
                <span class="forecasts__sport">Football</span>

                {% if request_tom == "yest" %}
                <span class="forecasts__day">Yesterday</span>
                {% endif %}
                {% if request_tom == "tod" %}
                <span class="forecasts__day">Today</span>
                {% endif %}
                {% if request_tom == "tom" %}
                <span class="forecasts__day">Tomorrow</span>
                {% endif %}
                <span class="forecasts__coefficient">Odds</span>
            </h2>
            <div class="forecasts__list">
                {% for game in games %}
                <a href="/football/brazil/brasileiro-serie-b/vila-nova-londrina-06-07-2018/" class="forecasts__item">
                    <h4 class="forecasts__teams">{{ game.teams }}</h4>
                    <span class="forecasts__league">
							<span class="forecasts__date">
								{{ game.time }}
							</span>
							Brazil - Brasileiro Serie B
						</span>
{% if game.result_overall == 'homewin' or game.result_overall == 'awaywin' or game.result_overall == '12win' %}
                    <i class="forecasts__result icon icon_success" title="won"></i>
                    {% endif %}
                    {% if game.result_overall == 'drawwin' %}
                    <i class="forecasts__result icon icon_success" title="won"></i>
                    {% endif %}
{% if game.result_overall == 'drawlose' or game.result_overall == 'homelose' or game.result_overall == 'awaylose' or game.result_overall == '12lose' %}
                    <i class="forecasts__result icon icon_failure" title="lost"></i>
                    {% endif %}
                    {% if game.result_overall == 'no_results_yet' %}
                    <i class="forecasts__result icon icon_pending" title="waiting"></i>
                    {% endif %}
                    <span
                            class="forecasts__coeff forecasts__coeff_free">{{ game.win_odd }}</span>
                </a>
                {% endfor %}
            </div>
        </div>

    </div>

</main>

<nav class="navigation">
    <a href="/featured/" class="navigation__link">
        <i class="icon icon_free  "></i>
        <span class="navigation__text">Featured</span>
    </a>
    <a href="/premium/" class="navigation__link">
        <i class="icon icon_premium  "></i>
        <span class="navigation__text">Premium</span>
    </a>
    <a href="/guarantee/" class="navigation__link">
        <i class="icon icon_guarantee  "></i>
        <span class="navigation__text">Guarantee</span>
    </a>
    <a href="#" role="button" class="navigation__link g-sign2" id="account">
        <i class="icon icon_login"></i>
        <span class="navigation__text">Account</span>
    </a>

</nav>
<div class="nav_spacer"></div>

<div id="resize">
    <form id="login-form">
        <div class="form-row">        	
            <div class="heading form-group col-md-12 col-xs-12">Login to Hustler</div>
            <div class="left col-md-6 col-xs-12">
            <div class="form-group col-md-12 col-xs-12">
                <label for="email">Email</label> <br/>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email"/> 
            </div>
            <div class="form-group col-md-12 col-xs-12">
                <label for="password4">Password</label> <br/>
                <input type="password" name="password" class="form-control" id="password4" placeholder="Password"/>
            </div>
            <div>
           <div class="form-group col-md-12 col-xs-12">
             <button type="submit" class="btn btn-outline-success">Login</button>
        </div>
    </div>
            </div>
            <div class="right col-md-6 col-xs-12">
                <div class="connect form-group col-md-12 col-xs-12">Connect with</div>
                <a href="" class="facebook form-group col-md-12 col-xs-12">
                    <!--       <span class="fontawesome-facebook"></span> -->
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a> 
                <a href="" class="twitter form-group col-md-12 col-xs-12">
                    <!--       <span class="fontawesome-twitter"></span> -->
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a> 
                <a href="#" class="google-plus form-group col-md-12 col-xs-12" data-onsuccess="onSignIn">
                    <!--       <span class="fontawesome-google-plus"></span> -->
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
        </div>
        <div class="bottom form-group col-md-12 col-xs-12">New Here ?<a> Join Us</a></div>
        </div>
    </form>
</div>
<!--custom js-->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>
</html>